@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, pre, form, p, blockquote, input, abbr, article, aside, figcaption, fieldset, figure, footer, header, mark, meter, menu, nav, output, progress, section, summary, time {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

ul, ol {
    list-style: none;
}

iframe, a, img, button {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

input, textarea, select {
    outline: 0;
}

textarea {
    resize: none;
    overflow: auto;
}

img {
    vertical-align: middle;
}

em, i, s {
    font-style: normal;
}

p {
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.inline-block {
    display: inline-block;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

.middle {
    vertical-align: middle;
}

.hand {
    cursor: pointer;
}

h1, h2, h3 {
    font-weight: normal;
    font-size: 14px;
}

.clear-border {
    border: 0 !important;
}

input[type=submit], input[type=button], input[type=text], textarea, button, select {
    -webkit-appearance: none;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.f_12 {
    font-size: 12px;
}

.f_14 {
    font-size: 14px;
}

.f_16 {
    font-size: 16px;
}

.f_15 {
    font-size: 15px;
}

.f_18 {
    font-size: 18px;
}

body {
    font: 400 14px/1.5 Helvetica, Arial, "microsoft yahei","微软雅黑", STHeiti, simsun, sans-serif;
    color: #343434;
    background-color: #f2f2f2;
      }

body.grey-bg {
    background-color: #eaeaea;
}

input, button, textarea {
    font: 400 14px/1.5 Helvetica, Arial, Microsoft YaHei, STHeiti, simsun, sans-serif;
}

a {
    color: #007ead;
    outline-style: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.grey {
    color: #6d6d6d;
}

.orange {
    color: #ed6330;
}

.blue_v2 {
    color: #2c84cc;
}

.red {
    color: #d60000;
}

.def {
    color: #343434;
}

.grey_66 {
    color: #666;
}

.grey_33 {
    color: #333;
}


body {
    min-width: 1024px;
}