body {
	background: url("../images/scene06-letter.jpg") 0 0 no-repeat;
	margin: 0;
	padding: 0;
	
	font-family: "museo-slab-1","museo-slab-2",'Georgia',serif;
    font-size: 14px;
    line-height: 16px;

}

#contactform {
    margin-top: 165px;
    padding-left: 25px;
}

input {
	width: 227px;
	height: 32px;
	padding-left: 10px;
	background: #f9f5f0;
	
	border: none;
	
	font-family: "museo-slab-1","museo-slab-2",'Georgia',serif;
	font-style:italic;
	font-size: 14px;

}

textarea {
	background: none repeat scroll 0 0 #F9F5F0;
    border: medium none;
    font-family: "museo-slab-1","museo-slab-2",'Georgia',serif;
    font-size: 14px;
    font-style: italic;
    padding: 10px;
    height: 110px;
    width: 416px;
    border: 2px solid #fff;

}

.sendbutton {
	background: none repeat scroll 0 0 #a6a7a0;
    color: #FFFFFF;
    width: 440px;
    font-family: futura-pt-1,Futura,Arial,sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

}

.sendbutton:hover {
	background: #f0542f;
}