@charset "utf-8";
/*loading*/
.loading_pop {width:60px;height:60px;background:rgba(0,0,0,.5);position: absolute;top:30%;left: 50%;margin-left:-26px;border-radius: 10px;color: #fff;}
.loading_pop em {display:block;width:30px;height:30px;background:url(../../images/wap/loading.png) no-repeat;background-size:30px;margin:15px auto 0;
-webkit-animation:gogogo 2s infinite linear ;
   -moz-animation:gogogo 2s infinite linear ;
    -ms-animation:gogogo 2s infinite linear ;
     -o-animation:gogogo 2s infinite linear ;
        animation:gogogo 2s infinite linear ;
}
.loading_1 {width:90px;height:90px;background:rgba(0,0,0,.5);position: absolute;top:30%;left: 50%;margin-left:-45px;border-radius: 10px;color: #fff;}
.loading_1 em {display:block;width:30px;height:30px;background:url(../../images/wap/loading.png) no-repeat;background-size:30px;margin:15px auto 0;
-webkit-animation:gogogo 2s infinite linear ;
   -moz-animation:gogogo 2s infinite linear ;
    -ms-animation:gogogo 2s infinite linear ;
     -o-animation:gogogo 2s infinite linear ;
        animation:gogogo 2s infinite linear ;
}
@-webkit-keyframes gogogo {
    0%{
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50%{

    }
    100%{
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-moz-keyframes gogogo {
    0%{
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50%{

    }
    100%{
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-ms-keyframes gogogo {
    0%{
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50%{

    }
    100%{
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-o-keyframes gogogo {
    0%{
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50%{

    }
    100%{
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes gogogo {
    0%{
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50%{

    }
    100%{
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
.loading p {text-align: center;margin-top: 10px;}
.loading2 {width:200px;height:auto;margin-left:-100px;}
.loading2 .bar {height:50px;}
.loading2 .bar em {float: left;margin-left:62px;}
.loading2 .bar p {float: left;margin:22px 0 0 10px;}
.loading2 .info {text-align:left;padding:10px;}