@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, object, embed, em, span, legend, fieldset, strong, sub, sup, b, u, i, iframe, a, label, details, canvas, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, input, textarea, abbr, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figcaption, figure, footer, header, mark, meter, menu, nav, output, progress, section, summary, time, audio, video {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    overflow-x: hidden;
    word-wrap: break-word;
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust: none;
}

ul, ol {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

iframe, a, img, button {
    border: 0;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

a, a:hover {
    text-decoration: none;
    outline: none;
}

a.a-u {
    text-decoration: underline;
}

.clear {
    clear: both;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.hide {
    display: none;
}

.db {
    display: block;
}

.dt {
    display: table;
    width: 100%;
}

.dtc {
    display: table-cell;
    vertical-align: middle
}

.dib {
    display: inline-block
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.ti2 {
    text-indent: 2em;
}

em, i, s {
    font-style: normal;
}

textarea {
    overflow: auto;
}

input[type="submit"], input[type="button"], input[type="text"], input[type="password"], input[type="tel"], textarea, button, select {
    font-size: 1em;
    outline: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}


::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.green {
    color: #7cb228;
}

.grey {
    color: #d5d5d5;
}

.blue {
    color: #007ead;
}

.red {
    color: red;
}

.orange {
    color: #e16603;
}

.grey-33 {
    color: #333;
}

.grey-66 {
    color: #666;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w23 {
    width: 23%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w54 {
    width: 54%;
}

.w55 {
    width: 55%;
}

.w60 {
    width: 60%;
}

.w65 {
    width: 65%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.clear-border {
    border: 0 !important;
}

input:-webkit-input-placeholder {
    color: #cecece;
}

input:-moz-placeholder, input::-moz-placeholder {
    color: #cecece;
}

input:-ms-input-placeholder {
    color: #cecece;
}

.display-flex {
    display: -webkit-flex;
    display: flex;
}

.box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*font: 400 14px/1.5 Arial, Helvetica, "Microsoft YaHei", STHeiti, "Droid Sans Fallback", sans-serif;*/
    font: 400 14px/1.5 "Helvetica Neue", Helvetica, STHeiTi, "Droid Sans Fallback", sans-serif;
    color: #333;
    overflow-x: hidden;

}

a, button, input {
    color: #343434;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a.blue {
    color: #007ead;
}

h1, h2, h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
}